<h1 align="center" class="display-4 mb-5">Modifica Biglietto</h1>
<div style="width:40%; margin: 25px auto">
    <form #form="ngForm" (ngSubmit)="onSubmit()">
        <!--Id-->
        <div class="form-group">
            <label for="productId">Codice</label>
            <input [readOnly]="isEdit" [disabled]="isEdit" [(ngModel)]="product.productId" type="text"
                   class="form-control form-control-lg" #productIdInput
                   id="productId" name="productId" required #productId="ngModel">
            <div *ngIf="productIdInput.invalid && (productIdInput.dirty ||productIdInput.touched)">
                <div *ngIf="productIdInput.errors.required">
                    Inserire il nome!
                </div>
            </div>
        </div>
        <!--Photo-->
        <div class="form-group">
            <label>Link della foto</label>
            <input [(ngModel)]="product.productIcon" type="text" class="form-control form-control-lg" id="productIcon"
                   name="productIcon" placeholder="Photo">
        </div>

        <!--Name-->
        <div class="form-group">
            <label>Nome</label>
            <input [(ngModel)]="product.productName" type="text" class="form-control form-control-lg" id="productName"
                   #productName="ngModel"
                   name="productName" placeholder="Name" required>
        </div>
        <div *ngIf="productName.invalid && (productName.dirty ||productName.touched)">
            <div *ngIf="productName.errors.required">
                Inserire il nome!
            </div>
        </div>

        <!--Category-->
        <div class="form-group">
            <label for="categoryType">Settore</label>
            <select class="custom-select custom-select-lg " id="categoryType" name="categoryType"
                    [(ngModel)]="product.categoryType"
                    required>
                <option [ngValue]=0>Curva Sud "Bergamini"</option>
                <option [ngValue]=1>Curva Nord "Catena"</option>
                <option [ngValue]=2>Tribuna A</option>
                <option [ngValue]=3>Tribuna B</option>
                <option [ngValue]=4>Tribuna "Rao"</option>
                <option [ngValue]=5>Tribuna Vip</option>
            </select>
        </div>

        <!--Description-->
        <div class="form-group">
            <label>Descrizione</label>
            <textarea class="form-control form-control-lg text-left"
                      id="productDescription" name="productDescription"
                      placeholder="Description" [(ngModel)]="product.productDescription"></textarea>
        </div>
        <!--Price-->
        <div class="form-group">
            <label for="productPrice">Prezzo</label>
            <input class="form-control form-control-lg"
                   type="number"
                   id="productPrice"
                   name="productPrice"
                   #productPrice="ngModel"
                   [ngModel]="product.productPrice" (ngModelChange)="product.productPrice=$event"
                   required>
            <div *ngIf="productPrice.invalid && (productPrice.dirty ||productPrice.touched)">
                <div *ngIf="productPrice.errors.required">
                    Inserire il prezzo!
                </div>
            </div>
        </div>
        <!--Stock-->
        <div class="form-group">
            <label for="productStock">Biglietti rimasti</label>
            <input class="form-control form-control-lg"
                   type="number"
                   id="productStock"
                   name="productStock"
                   min="0" #productStock="ngModel"
                   [(ngModel)]="product.productStock"
                   required>
            <div *ngIf="productStock.invalid && (productStock.dirty ||productStock.touched)">
                <div *ngIf="productStock.errors.required">
                    Inserire il numero di biglietti rimasti!
                </div>
            </div>
        </div>
        <!--Status-->
        <div class="form-group">
            <label for="productStatus">Stato</label>
            <select class="custom-select custom-select-lg " id="productStatus" name="productStatus" required
                    [(ngModel)]="product.productStatus">
                <option [ngValue]=0>Disponibile</option>
                <option [ngValue]=1>Non Disponibile</option>
            </select>
        </div>
        <div class="form-group">
            <button type="submit" [disabled]="!form.form.valid" class="btn btn-lg btn-primary btn-block">Aggiorna</button>
        </div>
    </form>


</div>
