
.title, h1 {
  margin-top: 80px;
}

.text {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 3rem;
  font-weight: bold;
  background: linear-gradient(to right, #ff3030 50%, #4040ff 50%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  display: inline;
}
